<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="edge"/>
    <script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/login.css}" type="text/css">
    <title>权限管理系统</title>
</head>
<body>
<!-- Form-->
<div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
        <div class="form-header">
            <h1>账户登录</h1>
        </div>
        <div class="form-content">
            <div class="form-group">
                <label>用户名</label>
                <input type="text" name="username" />
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" name="password" />
            </div>
            <div class="form-group">
                <button onclick="login()" id="loginButton">登录</button>
            </div>
        </div>
    </div>
</div>
</body>
<script data-th-src="@{js/login.js}"></script>
</html>